{% extends 'base.html' %}

{% block css %}
    <style>
        .error-message{
            color: red;
        }
    </style>
{% endblock %}

{% block title %}
    Sign up!
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <main class="form-signin text-center">
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
                        <div class="mb-3 form-floating">
                            <input type="text" name="username" class="form-control" id="Username" placeholder="name@example.com">
                            <label for="Username">Username</label>
                        </div>
                        {% for error in form.errors.username %}
                            <p class="error-message">{{ error }}
                        {% endfor %}
                        <div class="mb-3 form-floating">
                            <input type="password" name="password1" class="form-control" id="Password1" placeholder="Password">
                            <label for="Password1">Password</label>
                        </div>
                        {% for error in form.errors.password1 %}
                            <p class="error-message">{{ error }}
                        {% endfor %}
                        <div class="mb-3 form-floating">
                            <input type="password" name="password2" class="form-control" id="Password2" placeholder="Password">
                            <label for="Password2">Confirm password</label>
                        </div>
                        {% for error in form.errors.password2 %}
                            <p class="error-message">{{ error }}
                        {% endfor %}
                        <br>
                        <button class="w-100 btn btn-lg btn-primary" value="Submit" type="submit">Create account</button>
                    </form>
{% endblock %}