{% extends 'base.html' %}

{% block title %}
    Create new recipe
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post">
                    {% csrf_token %}
                    <br>
                    <h2 align="center">Create new recipe</h2>
                    <hr>
                    <br>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Choose a name...">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3" placeholder="Type a description..."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload image</label>
                        <input class="form-control" name="image" type="file" id="formFile">
                    </div>
                    <br>
                    <hr>
                    <h4>Ingredients</h4>
                    <br>
                    {{ ingredient_formset.management_form }}
                    {% for form in ingredient_formset %}
                        <div class="row g-2">
                            {{ form }}
                        </div>
                    {% endfor %}
                    <br>
                    <hr>
                    <br>
                    <h4>Instruction</h4>
                    <br>
                    {{ step_formset.management_form }}
                    {% for form in instruction_formset %}
                        <div class="row g-2">
                            {{ form }}
                        </div>
                    {% endfor %}
                    <hr>
                    <div align="center">
                        <a href="{% url 'recipe_list' %}" type="submit" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-outline-success" >Save</button>
                    </div>
                    <hr>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}