{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create new recipe
{% endblock %}

{% block css%}
    <style>
        label{
            margin-top: 20px;
        }
        i.bigger-icon{
            color: gray;
            font-size:xx-large;
        }
        .ingredient-form{
            margin-bottom: 50px;
        }
        .step-form{
            margin-bottom: 40px;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static "addFormToFormSet.js"%}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form method="post">
                    {% csrf_token %}
                    <br>
                    <h2 align="center">Create new recipe</h2>
                    <hr>
                    <br>
                    <div class="mb-3">
                        {{ form }}
                    </div>
                    <br>
                    <hr>
                    <h4>Ingredients</h4>
                    <br>
                    {{ ingredient_formset.management_form }}
                    {% for form in ingredient_formset %}
                        <div class="row g-2 ingredient-form">
                            {{ form }}
                        </div>
                    {% endfor %}
                    <div style="text-align: center">
                        <i class="bi bi-plus-circle-dotted bigger-icon" id="add-ingredient-form"></i>
                    </div>
                    <script>
                        $('#add-ingredient-form').click(function() {
                            cloneMore('div.ingredient-form:last', 'ingredients');
                        });
                    </script>
                    <hr>
                    <br>
                    <h4>Instruction</h4>
                    <br>
                    {{ step_formset.management_form }}
                    <br>
                    {% for form in step_formset %}
                        <div class="row g-2 step-form">
                            <span class="step-counter">Step {{ forloop.counter }}:</span>
                            {{ form }}
                        </div>
                    {% endfor %}
                    <div style="text-align: center">
                        <i class="bi bi-plus-circle-dotted bigger-icon" id="add-step"></i>
                    </div>
                    <script>
                        $('#add-step').click(function() {
                            cloneMore('div.step-form:last', 'steps');
                        });
                    </script>
                    <hr>
                    <div align="center">
                        <a href="{% url 'recipe_list' %}" type="submit" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-outline-success" >Save</button>
                    </div>
                    <hr>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}