{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{recipe.name}}
{% endblock %}

{% block css %}
    <style>
        .button-container a{
            font-size:xx-large;
            color: green;
            margin-left: 2cm;
        }
        .list-container a{
            position: relative;
            font-size: xx-large;
            color: dimgrey;
            margin-left: 3cm;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-3 ">
            <div class="col-9">
                <p class="h1">{{ recipe.name }}</p>
            </div>

            {% if request.user.is_authenticated %}
                
                <div class="col-1">
                    <div class="list-container">
                        <a href="{% url 'add_to_shopping_list' recipe.id %}" data-toggle='tooltip' title='Add to shopping list'><i class="bi bi-journal-plus"></i></a>
                    </div>
                </div>

                {% if is_favourite %}
                    <div class="col-1">
                        <div class="button-container">
                            <a href="{% url 'add_to_favourites' recipe.id %}" data-toggle='tooltip' title='Remove from favourites'><i class="bi bi-bookmarks-fill"></i></a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-1">
                        <div class="button-container">
                            <a href="{% url 'add_to_favourites' recipe.id %}" data-toggle='tooltip' title='Add to favourites'><i class="bi bi-bookmarks"></i></a>
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <div class="col-1">
                    <div class="button-container">
                        <a href="{% url 'sign_up' %}"><i class="bi bi-bookmarks"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row mb-3">
            <div class="col-10">{% if recipe.description %} {{ recipe.description }}
            {% endif %}</div>
            <div class="col-2"></div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-4">
                <figure class="figure">
                    {% if recipe.image %}
                        <img src='{{ recipe.image.url }}' class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption">{{recipe.name}}</figcaption>
                    {% else %}
                        <img src='{% static 'placeholder.jpg' %}' class="figure-img img-fluid rounded">
                    {% endif %}
                </figure>
            </div>
            <div class="col-8">
                <div class="bd-example">
                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="ingredients-tab" data-bs-toggle="tab" data-bs-target="#ingredients" type="button" role="tab" aria-controls="Ingredients" aria-selected="true">Ingredients</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="instructions-tab" data-bs-toggle="tab" data-bs-target="#instructions" type="button" role="tab" aria-controls="Instructions" aria-selected="false">Instructions</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                            <ul>
                                {% for ingredient_object in recipe.ingredientinrecipe_set.all %}
                                    <li><strong> {{ ingredient_object.quantity }} {{ ingredient_object.unit.name }}</strong> {{ ingredient_object.ingredient.name }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
                            <ol>
                                {% for instruction in recipe.instruction_set.all %}
                                    <li>{{ instruction.instruction.order }} <hr> {{ instruction.step }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
